# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class
*.so

build/
dist/
wheels/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# -------------------------
# Environment variables
# -------------------------
.env
.env.*
!.env.example

# -------------------------
# Django
# -------------------------
db.sqlite3
media/
staticfiles/
productionstaticfiles/

# Logs
*.log

# -------------------------
# Coverage / testing
# -------------------------
.coverage
htmlcov/
.pytest_cache/

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# Docker
# -------------------------
*.pid
*.sock